<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>测试 - layui</title>
        <link rel="stylesheet" href="{% static "js/layui/css/layui.css" %}">
        <script src="{% static "js/JQuery.js" %}"></script>
    </head>
    <body style="background-image: url({% static 'images/bg.jpg' %});">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col-md11">
                    Django试验框架
                </div>
                <div class="layui-col-md1" align="right">
                    <a href="/login/" class="layui-btn layui-btn-normal layui-btn-xs">退出</a>
                </div>
            </div>
            <hr class="layui-border-black">
            <div class="layui-row layui-ro">
                <div class="layui-col-md2">
                    <ul class="layui-nav layui-nav-tree" lay-filter="test">
                       {% for n in demoList %}
                            <li class="layui-nav-item">
                                <a href="{% url n.demoUrl  %}">{{ n.demoName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <form id="urlForm" method="get"></form>
                </div>
                <div class="layui-col-md10">
                    {% block mainbody2 %}
                        <p>首页</p>
                    {% endblock mainbody2 %}
                </div>
            </div>
        </div>
        <script src="{% static "js/layui/layui.js" %}"></script>
    </body>
</html>