<!DOCTYPE html>
<html>
    <head>
        {% load static %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>测试 - layui</title>
      <link rel="stylesheet" href="{% static "js/layui/css/layui.css" %}">
    </head>
    <body style="background-image: url({% static 'images/bg.jpg' %});">
        <br/><br/><br/><br/><br/>
        <div class="layui-container">
            <div class="layui-col-md4">&nbsp;</div>
            <div class="layui-col-md4">
                <form class="layui-form" action="/checkUser/" method="post">
                    {% csrf_token %}
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" class="layui-input" placeholder="请输入用户名" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码：</label>
                        <div class="layui-input-block">
                            <input type="text" name="password" class="layui-input" placeholder="请输入密码" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="submit" class="layui-btn layui-btn-normal" value="提交"/>
                            <input type="reset" class="layui-btn layui-btn-normal" value="重置" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-col-md4">&nbsp;</div>
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}
        </div><!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
        <script src="{% static "js/layui/layui.js" %}"></script>
    </body>
</html>
