{% extends "base.html" %}

{% block mainbody2 %}

    {% load my_tags %}
    {% load static %}

    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <script src="/statics/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <img src="{% static "images/a.png" %}" alt="runoob-logo">

    <h1>{{ team.a|my_filter:team.b }}</h1>

    <h1>{% my_tag team.a team.b team.c %}</h1>

    <h1>{{ hello|truncatewords:2 }}</h1>
    <h1>{{ team.a }}</h1>
    <h1>{{ team.b }}</h1>
    <h1>{{ team.c }}</h1>
    <h1>{{ date|date:'Y-m-d' }}</h1>
    {% if num > 20 %}
    <h1>大于20</h1>
    {% elif num < 20 %}
    <h1>小于20</h1>
    {% else %}
    <h1>等于20</h1>
    {% endif %}
    <h1>
    {% for n in numlist reversed %}
         {{ n }} {{ forloop.counter }} {{ forloop.counter0 }}
        {{ forloop.revcounter }} {{ forloop.revcounter0 }}
        {{ forloop.first }} {{ forloop.last }}
        <br/>
    {% endfor %}
    </h1>
    {% for i,j in numberD.items %}
    <h1>{{ i }} -- {{ j }}</h1>
    {% endfor %}
    {% for eni in emptylist %}
        {% empty %}
            没有找到相应的结果
    {% endfor %}
{% endblock mainbody2 %}