{% extends "base.html" %}

{% block mainbody2 %}
    {% load static %}
    <script src="{% static 'js/managebooks.js' %}"></script>
    <fieldset class="layui-elem-field layui-field-title layui-border-cyan">
        <legend>书籍管理</legend>
        <div class="layui-field-box">
            <div class="layui-row">
                <div class="layui-col-md11">&nbsp;</div>
                <div class="layui-col-md1">
                    <button type="button" onclick="bookSubmit()"
                            class="layui-btn layui-btn-normal layui-btn-xs">提交</button>
                    <a href="{% url 'testModel:teacherList' %}"
                       class="layui-btn layui-btn-normal layui-btn-xs">返回</a>
                </div>
            </div>
            <br>
            <div class="layui-row">
                <form id='bookF' class="layui-form" action="/testModel/updateBooks/" method="post">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            {% for book in bookList %}
                                <input type="checkbox" name="bookIdCheckBox" value="{{ book.id }}"
                                       title="{{ book.bookName }}"
                                    {% if book.id in personBookIdList %}
                                       checked
                                    {% endif %}
                                />
                            {% endfor %}
                            <input type="hidden" name="teacherId" value="{{ teacherId }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock mainbody2 %}