{% extends "base.html" %}

{% block mainbody2 %}
    {% load static %}
    {% csrf_token %}
    <script src="{% static 'js/teachserlist.js' %}"></script>
    <div class="layui-row">
        <div class="layui-col-md11">
            <form id="searchF" action="/testModel/getTeacherListByName/" method="post">
                {% csrf_token %}
                <input type="text" name="name"/>
                <i class="layui-icon layui-anim layui-anim-scale" onclick="searchFSubmit()">&#xe615;</i>
            </form>
        </div>
        <div class="layui-col-md1" align="right">
            <a href="{% url 'testModel:toAddTeacher' %}" class="layui-btn layui-btn-normal layui-btn-xs">新增</a>
        </div>
    </div>
    <hr class="layui-border-black">
    <div class="layui-row">
        <!--
        <table class="layui-table">
            <colgroup>
                <col height="40px"><col align="right"><col width="10%" align="center">
            </colgroup>
            <thead>
                <th>名字</th><th style="text-align:right">年龄</th><th style="text-align:center">操作</th>
            </thead>
            <tbody>
                {% for n in dblist %}
                    <tr>
                        <td>{{ n.name }}</td>
                        <td align="right">{{ n.age }}</td>
                        <td align="center">
                            <i class="layui-icon layui-anim layui-anim-scale"
                               onclick="updateTeacher({{ n.id }})" title="编辑">&#xe642;</i>
                            <i class="layui-icon layui-anim layui-anim-scale"
                               onclick="delTeacher({{ n.id }})" title="删除">&#xe640;</i>
                            <i class="layui-icon layui-anim layui-anim-scale"
                               onclick="toBook({{ n.id }})" title="书籍管理">&#xe656;</i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        -->
        <table id="teachTable" lay-filter="teachTableFiler"></table>
        <script src="{% static "js/layui/layui.js" %}"></script>
        <script>
            layui.use('table', function(){

                var table = layui.table;

                table.render({
                    elem: '#teachTable',
                    height:312,
                    even:true,
                    url: '/testModel/getTeacherListByNameForAjax/',
                    defaultToolbar: ['filter', 'print', 'exports', {
                        title: '提示',
                        layEvent:'LAYTABLE_TIPS',
                        icon:'layui-icon-tips'
                    }],
                    toolbar: '#toolbarDemo',
                    cols:[[
                        {field:'id', hide:true, title:'id', width:530},
                        {field:'name', title:'名字', edit:'text', width:530},
                        {field:'age', title:'年龄', sort:true, width:520},
                        {fixed:'right',title:'操作', width:200, align:'center', toolbar:'#barDemo'}
                    ]]
                });
                table.on('tool(teachTableFiler)', function(obj){

                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得lay-event对应的值
                    var tr = obj.tr;

                    if (layEvent === 'update') {

                        $("#updateId").val(data.id);

                        $("#updateForm").submit();
                    } else if (layEvent === 'delete') {

                        $("#delId").val(data.id);

                        $("#delForm").submit();
                    } else if (layEvent === 'tobook') {

                        $("#userId").val(data.id);

                        $("#bookForm").submit();
                    }
                });
                table.on('edit(teachTableFiler)', function(obj){

                    linedata = obj.data

                    updateTeacherByAjax(linedata.id, obj.value);
                })
            });
        </script>
        <script type="text/html" id="barDemo">
            <i class="layui-icon layui-anim layui-anim-scale" lay-event="update" title="编辑">&#xe642;</i>
            <i class="layui-icon layui-anim layui-anim-scale" lay-event="delete" title="删除">&#xe640;</i>
            <i class="layui-icon layui-anim layui-anim-scale" lay-event="tobook" title="书籍管理">&#xe656;</i>
        </script>
        <script type="text/html" id="toolbarDemo">
          <div class="layui-btn-container">
            <a href="{% url 'testModel:toAddTeacher' %}" class="layui-btn layui-btn-normal layui-btn-xs">新增</a>
          </div>
        </script>
    </div>
    <form id="bookForm" action="/testModel/toManageBooks/" method="post">
        {% csrf_token %}
        <input type="hidden" id="userId" name="pk"/>
    </form>
    <form id="updateForm" action="/testModel/toUpdateTeacher/" method="post">
        {% csrf_token %}
        <input type="hidden" id="updateId" name="pk"/>
    </form>
    <form id="delForm" action="/testModel/delTeacher/" method="post">
        {% csrf_token %}
        <input type="hidden" id="delId" name="pk"/>
    </form>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock mainbody2 %}