{% extends "base.html" %}

{% block mainbody2 %}
    {% load static %}
    <table id="teachTable" lay-filter="teachTableFiler"></table>
        <script src="{% static "js/layui/layui.js" %}"></script>
        <script>
            layui.use('table', function(){

                let table = layui.table;

                table.render({
                    elem: '#teachTable',
                    height:312,
                    url: '/emp/toEmpListByAjax/',
                    cols:[[
                        {field:'id', hide:true, title:'id'},
                        {field:'empName', title:'名字', width:630},
                        {field:'teacherName', title:'师长名称', width:620}
                    ]]
                });
            });
        </script>
{% endblock mainbody2 %}